<% @messages.each do |message| %>
    <h2>Message no. <%= message.id %> is:</h2><br>
    <div> 
        <%= truncate(message.body, :length => 20) %>
    </div>
    <br>
    <%= link_to 'Read Message', message %>
<% end %>