<h1>The message is:</h1>
<br>

<div>
    <%= @message.body %>
</div>
<br>
<%= link_to 'Edit Message', edit_message_path(@message) %>

<%= link_to 'Delete Message', message_path(@message), method: :delete, data: {confirm: "Are you sure you want to delete this message?"} %>